* {
    margin: 0;
    padding: 0;
}

/* background */

.background {
    background-image: url(images/background-3199325_960_720.webp);
    background-color: cornflowerblue;
}

header {
    background-color: #ceeaff;
}

main {
    height: 50em;
    background-color: #ceeaff;
    border: 11px groove #8ba9bf;
}

/* header */
header {
    border: 11px groove #8ba9bf;
}


/* navbar */


nav ul{
    margin-bottom: 0;
    background-color: #c5def1;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    

}

li:last-child {
    border: none;

}

li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    display: block;
    text-align: center;
    border-radius: 40px;
    padding: 3px 10px;
    text-decoration: none;
}

li a.navLink:hover {
   background-color:rgba(243, 117, 0, 0.719);
   color: black;
   text-decoration: none;
}





/* active link */


/* main */



main h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f7f7f7;
}

main p {

   color: rgb(9, 0, 133);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: larger;
}

main div {

    border: 6px double #ceeaff;
    background-color: #8ac7f5;


}

div.scrollableMenu {
    background-color: #0081e47c;
    overflow: hidden;
    white-space: nowrap;
}

div.scrollableMenu p {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollableMenu:hover {
    overflow: auto;
}



.preview {

    background-color: #0081e47c;
}

/* footer */

footer {
    margin: 0;
    padding: 0;
    border: 6px double #ceeaff;
    background-color: #8ac7f5;
}